
<div class='main-nav'>
    
    <span *ngIf='this.openNavBar' (click)="close()" class='btn glyphicon glyphicon-align-justify '>open</span>
    <div class='navbar navbar-inverse' [ngbCollapse]="openNavBar">


        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand title' [routerLink]="['/home']">{{pageTitle}}</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>

            <ul class='nav navbar-nav '>
                <li *ngIf='!this.openNavBar' >
                    <a *ngIf='!this.openNavBar' (click)="open()">
                        <span class='glyphicon glyphicon-align-justify'></span> close
                    </a>
                </li>
                <li *ngIf='!this.authService.isLoggedIn()' [routerLinkActive]="['link-active']">
                    <a *ngIf='!this.authService.isLoggedIn()' [routerLink]="['/login']">
                        <span class='glyphicon glyphicon-user'></span> Login
                    </a>
                </li>
                <li *ngIf='this.authService.isLoggedIn()' [routerLinkActive]="['link-active']">
                    <a *ngIf='this.authService.isLoggedIn()' (click)="logOut()">
                        <span class='glyphicon glyphicon-th-list'></span> Log Out
                    </a>
                </li>
                <li *ngIf='this.authService.isLoggedIn()' [routerLinkActive]="['link-active']">
                    <a *ngIf='this.authService.isLoggedIn()' [routerLink]="['/edit-user']">
                        <span class='glyphicon glyphicon-cog'></span> Edit User
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/task/list']">
                        <span class='glyphicon glyphicon-list-alt'></span> Task List
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/task']">
                        <span class='	glyphicon glyphicon-open-file'></span> Create Task
                    </a>
                </li>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/snake']">
                        <span class='glyphicon glyphicon-pawn'></span> Snake
                    </a>

                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/snake/table-score']">
                        <span class='glyphicon glyphicon-pawn'></span> Snake Table Score
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
