
<div class="container">
    <div class="panel-heading">
        <div class="panel-title text-center">
            <h1 class="title">{{this.pageTitle}}</h1>
            <hr />
        </div>
    </div>

    <div class="main-login main-center">
    
            <h4 *ngIf="!this.authService.isLoggedIn()" class="title">For the score to save you need to log in  </h4>
            <button *ngIf="!bollStartGame &&  gameRun == -1" (click)="startGame()" class="game" >Start Game</button>
            <button *ngIf="bollStartGame" (click)="pauseGame()" class="game" >Pause Game</button>
            <button *ngIf="!bollStartGame &&  gameRun != -1 " (click)="resumeGame()" class="game" >Resume Game</button>
            <h3 class="title">Your score is  {{score}} </h3>

        <div id="main">
            <div class="row main" *ngFor="let row of bord">

                <img *ngFor="let col of row" [src]="col" />

            </div>


        </div>

        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

    </div>

</div>