
<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">{{this.pageTitle}}</h1>
                <hr />
            </div>
        </div>
        <div class="main-task main-center">
            <form class="form-horizontal" (submit)="updateTask()" [formGroup]="taskForm">

                <div class="form-group">
                    <label for="information" class="cols-sm-2 control-label">Information</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="information" id="information" placeholder="Enter your Task Information" formControlName="information" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="startDate" class="cols-sm-2 control-label">Start Date</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="date" class="form-control" name="startDate" id="startDate" placeholder="Enter your Last Name" formControlName="startDate" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="endDate" class="cols-sm-2 control-label">End Date</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="date" class="form-control" name="endDate" id="endDate" placeholder="Enter your Email" formControlName="endDate" />
                        </div>
                    </div>
                </div>



                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block task-button"  [disabled]='!taskForm.valid'>Save Task</button>
                </div>

            </form>
        </div>
    </div>
    <div class='alert alert-danger' *ngIf='errorMessage'>{{errorMessage}}</div>
</div>