
<div class="container">
    <div class="panel-heading">
        <div class="panel-title text-center">
            <h1 class="title">{{this.pageTitle}}</h1>
            <hr />
        </div>
    </div>
    <div class="main-task main-center">
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='filteredByName' />
            </div>
        </div>
        <p *ngIf="!filterTasks"><em>Loading...</em></p>

        <table class='table table-striped' *ngIf="filterTasks">
            <thead class="thead-dark">
                <tr>
                    <th>Information</th>
                    <th>Start Date (C)</th>
                    <th>End Date (F)</th>
                    <th>Days remaining </th>
                    <th>Edit </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of filterTasks">
                    <td>{{ task.information }}</td>
                    <td>{{ task.startDate | date }}</td>
                    <td>{{ task.endDate | date}}</td>
                    <td>{{ showDiffrent(task.startDate , task.endDate ) }}</td>
                    <td> <a [routerLink]="['/task', task.id]">Edit </a> </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
